In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [4]:
datasets = pd.read_csv('../DS/gapminder.tsv', delimiter='\t')

In [5]:
datasets.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [6]:
datasets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [7]:
datasets['continent'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1699    False
1700    False
1701    False
1702    False
1703    False
Name: continent, Length: 1704, dtype: bool

In [8]:
datasets.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [9]:
datasets.shape

(1704, 6)

In [10]:
datasets.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [11]:
datasets.index

RangeIndex(start=0, stop=1704, step=1)

In [12]:
datasets.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [13]:
datasets.values
#len(datasets.vaules)

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.332, 9240934, 820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.10071],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499603],
       ['Zimbabwe', 'Africa', 2002, 39.989, 11926563, 672.0386227],
       ['Zimbabwe', 'Africa', 2007, 43.487, 12311143, 469.7092981]],
      dtype=object)

In [15]:
country_datasets = datasets['country']

In [16]:
country_datasets.value_counts()
print("Total Unique country name: ", np.unique(country_datasets.value_counts()))

Total Unique country name:  [12]

In [17]:
type(datasets)

pandas.core.frame.DataFrame

In [18]:
type(country_datasets)

pandas.core.series.Series

In [19]:
datasets.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [22]:
data = datasets[['continent', 'year', 'country']].head()

In [23]:
del data['year']

In [24]:
data.head()

  continent      country
0      Asia  Afghanistan
1      Asia  Afghanistan
2      Asia  Afghanistan
3      Asia  Afghanistan
4      Asia  Afghanistan

In [25]:
data.drop('continent', axis = "columns")

       country
0  Afghanistan
1  Afghanistan
2  Afghanistan
3  Afghanistan
4  Afghanistan

In [27]:
datasets.drop([25, 89, 1700])

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1698     Zimbabwe    Africa  1982   60.363   7636524  788.855041
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1701 rows x 6 columns]

In [28]:
#help(data.drop)

In [29]:
data.head()

  continent      country
0      Asia  Afghanistan
1      Asia  Afghanistan
2      Asia  Afghanistan
3      Asia  Afghanistan
4      Asia  Afghanistan

In [30]:
datasets = pd_csv('../DS/gapminder.tsv', delimiter='\t')

NameError: name 'pd_csv' is not defined

In [31]:
datasets['country'][0]

'Afghanistan'

In [32]:
datasets['year'][0]

1952

In [34]:
datasets[0]

KeyError: 0

In [35]:
datasets.head(1)

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314

In [36]:
datasets.iloc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [37]:
datasets.iloc[-1]

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [38]:
datasets.iloc[[0, 3]]

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
3  Afghanistan      Asia  1967   34.020  11537966  836.197138

In [39]:
datasets.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [40]:
datasets_copy = datasets.loc[:, ['year', 'lifeExp']]

In [41]:
datasets_copy2 = datasets

In [43]:
datasetsCopy = datasets.loc[:, ['country', 'year' ,'pop']]

In [44]:
datasetsCopy

          country  year       pop
0     Afghanistan  1952   8425333
1     Afghanistan  1957   9240934
2     Afghanistan  1962  10267083
3     Afghanistan  1967  11537966
4     Afghanistan  1972  13079460
...           ...   ...       ...
1699     Zimbabwe  1987   9216418
1700     Zimbabwe  1992  10704340
1701     Zimbabwe  1997  11404948
1702     Zimbabwe  2002  11926563
1703     Zimbabwe  2007  12311143

[1704 rows x 3 columns]

In [45]:
datasetsCopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  1704 non-null   object
 1   year     1704 non-null   int64
 2   pop      1704 non-null   int64
dtypes: int64(2), object(1)
memory usage: 40.1+ KB

In [46]:
datasetsCopy.mean()

year    1.979500e+03
pop     2.960121e+07
dtype: float64

In [47]:
datasetsCopy.std()

year    1.726533e+01
pop     1.061579e+08
dtype: float64

In [49]:
datasets.loc[datasets['continent'] == 'Asia']

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
1     Afghanistan      Asia  1957   30.332   9240934   820.853030
2     Afghanistan      Asia  1962   31.997  10267083   853.100710
3     Afghanistan      Asia  1967   34.020  11537966   836.197138
4     Afghanistan      Asia  1972   36.088  13079460   739.981106
...           ...       ...   ...      ...       ...          ...
1675  Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538
1676  Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673
1677  Yemen, Rep.      Asia  1997   58.020  15826497  2117.484526
1678  Yemen, Rep.      Asia  2002   60.308  18701257  2234.820827
1679  Yemen, Rep.      Asia  2007   62.698  22211743  2280.769906

[396 rows x 6 columns]

In [54]:
datasets.loc[(datasets['continent'] == 'Asia') & (datasets.year == 1992)]

                 country continent  year  lifeExp         pop     gdpPercap
8            Afghanistan      Asia  1992   41.674    16317921    649.341395
92               Bahrain      Asia  1992   72.601      529491  19035.579170
104           Bangladesh      Asia  1992   56.018   113704579    837.810164
224             Cambodia      Asia  1992   55.803    10150094    682.303175
296                China      Asia  1992   68.690  1164970000   1655.784158
668     Hong Kong, China      Asia  1992   77.601     5829696  24757.603010
704                India      Asia  1992   60.223   872000000   1164.406809
716            Indonesia      Asia  1992   62.681   184816000   2383.140898
728                 Iran      Asia  1992   65.742    60397973   7235.653188
740                 Iraq      Asia  1992   59.461    17861905   3745.640687
764               Israel      Asia  1992   76.930     4936550  18051.522540
800                Japan      Asia  1992   79.360   124329269  26824.895110
812               Jordan      Asia  1992   68.015     3867409   3431.593647
836     Korea, Dem. Rep.      Asia  1992   69.978    20711375   3726.063507
848          Korea, Rep.      Asia  1992   72.244    43805450  12104.278720
860               Kuwait      Asia  1992   75.190     1418095  34932.919590
872              Lebanon      Asia  1992   69.292     3219994   6890.806854
944             Malaysia      Asia  1992   70.693    18319502   7277.912802
1004            Mongolia      Asia  1992   61.271     2312802   1785.402016
1052             Myanmar      Asia  1992   59.320    40546538    347.000000
1076               Nepal      Asia  1992   55.727    20326209    897.740360
1160                Oman      Asia  1992   71.197     1915208  18616.706910
1172            Pakistan      Asia  1992   60.838   120065004   1971.829464
1220         Philippines      Asia  1992   66.458    67185766   2279.324017
1316        Saudi Arabia      Asia  1992   68.768    16945857  24841.617770
1364           Singapore      Asia  1992   75.788     3235865  24769.891200
1436           Sri Lanka      Asia  1992   70.379    17587060   2153.739222
1496               Syria      Asia  1992   69.249    13219062   3340.542768
1508              Taiwan      Asia  1992   74.260    20686918  15215.657900
1532            Thailand      Asia  1992   67.298    56667095   4616.896545
1652             Vietnam      Asia  1992   67.662    69940728    989.023149
1664  West Bank and Gaza      Asia  1992   69.718     2104779   6017.654756
1676         Yemen, Rep.      Asia  1992   55.599    13367997   1879.496673

In [55]:
datasets.groupby('year')['lifeExp'].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [56]:
print(np.sort(datasets.year))

[1952 1952 1952 ... 2007 2007 2007]

In [58]:
datasets.groupby('year')['gdpPercap'].mean()

year
1952     3725.276046
1957     4299.408345
1962     4725.812342
1967     5483.653047
1972     6770.082815
1977     7313.166421
1982     7518.901673
1987     7900.920218
1992     8158.608521
1997     9090.175363
2002     9917.848365
2007    11680.071820
Name: gdpPercap, dtype: float64

In [59]:
datasets.groupby('continent')['gdpPercap'].mean()

continent
Africa       2193.754578
Americas     7136.110356
Asia         7902.150428
Europe      14469.475533
Oceania     18621.609223
Name: gdpPercap, dtype: float64

In [60]:
datasets.groupby('continent')['lifeExp'].mean()

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64